/bin/Debug/EncryptDecryptAppConfigFile.exe
/bin/Debug/EncryptDecryptAppConfigFile.pdb
/bin/Release/EncryptDecryptAppConfigFile.pdb
/obj/x86/Debug/EncryptDecryptAppConfigFile.exe
/obj/x86/Debug/EncryptDecryptAppConfigFile.pdb
/obj/x86/Release/EncryptDecryptAppConfigFile.exe
/obj/x86/Release/EncryptDecryptAppConfigFile.pdb
/bin/Release/Elmah.dll
/ConfigEncryption/ConfigEncryption/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ConfigEncryption/ConfigEncryption/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConfigEncryption/ConfigEncryption/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConfigEncryption/ConfigEncryption/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ConfigEncryption/ConfigEncryption/obj/Debug/ConfigEncryption.csproj.CoreCompileInputs.cache
/.vs/EncryptDecryptAppConfigFile/v15/.suo
