/bin/Debug/EncryptDecryptAppConfigFile.exe
/bin/Debug/EncryptDecryptAppConfigFile.pdb
/bin/Release/EncryptDecryptAppConfigFile.pdb
/obj/x86/Debug/EncryptDecryptAppConfigFile.exe
/obj/x86/Debug/EncryptDecryptAppConfigFile.pdb
/obj/x86/Release/EncryptDecryptAppConfigFile.exe
/obj/x86/Release/EncryptDecryptAppConfigFile.pdb
/ConfigEncryption/ConfigEncryption/obj*
/.vs/EncryptDecryptAppConfigFile/v15/.suo
/.vs/EncryptDecryptAppConfigFile/v15/Server/sqlite3
